<% include ./partials/header.ejs %>
<img src="/images/uploads/<%= user.profileImage %>">
<%= user.name %>
<%= user.username %>
<% user.posts.forEach(function(post) { %>
    <a href="/blogger/<%= user._id %>/<%= post._id %>">
        <div>
            <img src="/images/uploads/<%= post.cover %>">
            <h5>
                <%= post.heading %>
            </h5>
        </div>
    </a>
<% }); %>
<% include ./partials/footer.ejs %>